body {
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
}

a {
    text-decoration: none;
    color: black;
}

div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

h3 {
    font-size: 35px;
}

#filter-options {
    font-size: 23px;
}

#main-title {
    font-size: 60px;
}

#after-name-text {
    font-family: cursive;
}

#second-title {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: white;
}

#description-div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    width: 80%;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;
}

#description-div > p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    position: relative;
    background: linear-gradient(60deg, #eb3af1 0%, #f5f910 100%);
    color: white;
    height: 400px;
}

.waves {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px;
    min-height: 120px;
    max-height: 150px;
}

.leetcode-sulotions-container {
    background: linear-gradient(60deg, #ffffff 0%, #eb3af1  100%);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 80%;
    border-image: linear-gradient(to right, transparent, black, transparent) 1;
}

.leetcode-sulotions-container > h3> a {
    font-style: italic;
    color: white;
}

.leetcode-sulotions-container > p {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}